<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Ave</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4 d-flex flex-column align-items-center">
    <h1 class="mb-4 text-center">Aves</h1>
    <!-- Fragmento sin botones adicionales ni en grid-->
    <div th:replace="fragments/ave-card"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>
