<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: lista-aves.html
    Descripción: Vista HTML que muestra una galería con todas las aves registradas
                 en la base de datos. Utiliza fragmentos Thymeleaf para representar cada ave.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Aves</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4">
    <h1 class="mb-4 text-center">Aves</h1>
    <p class="text-success text-center" th:if="${param.exito}">
        Ave dada de alta exitosamente.
    </p>
    <hr>
    <!-- Fragmento sin botones extra -->
    <div th:replace="fragments/ave-card :: grid-aves(${aves}, ~{})"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>
