<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: modificar-lista.html
    Descripción: Página Thymeleaf que muestra una lista de aves con botón para seleccionar uno y modificarlo.
                 Usa fragmentos para las tarjetas y botones de acción.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Seleccionar Ave a Modificar</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4">
    <h1 class="mb-4 text-center">Selecciona un ave para modificar</h1>
    <p class="text-success text-center" th:if="${param.exito}">
        Ave modificada exitosamente.
    </p>
    <hr>
    <!-- Fragmento con el botón de modificar-->
    <div th:replace="fragments/ave-card :: grid-aves(${aves}, ~{fragments/ave-card :: boton-modificar})"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>
