<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: modificar.html
    Descripción: Página Thymeleaf para modificar un registro existente de pez.
                 Utiliza el fragmento de formulario compartido con datos precargados.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
  <meta charset="UTF-8">
  <title>Modificar Pez</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="flex-fill my-5">
  <div th:replace="fragments/pez-form :: formulario-pez(
        @{/peces/modificar},
        'Modificar Pez',
        'Guardar Cambios',
        'btn-primary'
    )"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>