<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<!-- Contenido principal del error -->
<main class="container my-5 flex-grow-1">
    <div class="alert alert-danger text-center shadow rounded">
        <h1 class="display-5 mb-3">Error inesperado</h1>
        <p class="lead" th:text="${mensaje}">Ocurrió un problema.</p>
    </div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>
