<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: anfibios-menu.html
    Descripción: Vista de menú principal para la sección de anfibios. Utiliza fragmentos Thymeleaf
    reutilizables para mostrar una interfaz CRUD personalizada con fondo temático.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<div th:replace="fragments/menu-crud :: menu-crud(
    'anfibios',
    'anfibios',
    '#80b01e',
    '/img/fondo-anfibios.jpg',
    'Selecciona una acción para manipular la información de anfibios.'
)"></div>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>