<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<div th:replace="fragments/menu-crud :: menu-crud(
    'anfibios',
    'anfibios',
    '#2d8f47',
    '/img/fondo-anfibios.jpg',
    'Selecciona una acción para manipular la información de anfibios.'
)"></div>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>