<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Seleccionar Anfibio a Modificar</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4">
    <h1 class="mb-4 text-center">Selecciona un anfibio para modificar</h1>
    <p class="text-success text-center" th:if="${param.exito}">
        Anfibio modificado exitosamente.
    </p>
    <hr>

    <!-- Uso del fragmento CON botón de modificar -->
    <div th:replace="fragments/anfibio-card :: grid-anfibios(${anfibios}, ~{:: boton-modificar})"></div>

    <!-- Definición del botón adicional -->
    <div th:fragment="boton-modificar" class="mt-auto">
        <a th:href="@{'/anfibios/modificar/' + ${anfibio.id}}"
           class="btn btn-warning w-100">
            Modificar
        </a>
    </div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>