<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: detalle.html
    Descripción: Página Thymeleaf que muestra la información de un reptil.
                 Utiliza fragmentos para el diseño de las tarjetas.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Reptil</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4 d-flex flex-column align-items-center">
    <h1 class="mb-4 text-center">Reptiles</h1>
    <!-- Fragmento sin botones adicionales ni en grid-->
    <div th:replace="fragments/reptil-card"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>