<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Lista de Reptiles</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="container my-4">
    <h1 class="mb-4 text-center">Reptiles</h1>
    <p class="text-success text-center" th:if="${param.exito}">
        Reptil dado de alta exitosamente.
    </p>
    <hr>
    <!-- Fragmento con en lista sin botones -->
    <div th:replace="fragments/reptil-card :: grid-reptiles(${reptiles}, ~{})">
    </div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>