<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head"></head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>
<!-- MENÚ REPTILES -->
<main class="flex-fill d-flex justify-content-center align-items-center"
      style="background-image: url('/img/fondo-reptiles.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
    <div class="p-5 shadow-lg rounded-4 text-center"
         style="max-width: 750px; width: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);">

        <h1 class="mb-4" style="color: #2d5016; font-size: 2.2rem; font-weight: 700;">
            Menú de Reptiles
        </h1>
        <p class="mb-4" style="font-size: 1rem; color: #333;">
            Selecciona una acción para manipular la información en reptiles.
        </p>

        <!-- Botones de acciones CRUD-->
        <div class="d-flex flex-column gap-3 mx-auto" style="max-width: 300px;">
            <a class="btn btn-outline-success btn-lg" th:href="@{/reptiles/nuevo}">Nuevo</a>
            <a class="btn btn-outline-primary btn-lg" th:href="@{/reptiles/lista}">Lista</a>
            <a class="btn btn-outline-warning btn-lg" th:href="@{/reptiles/modificar-lista}">Modificar</a>
            <a class="btn btn-outline-danger btn-lg" th:href="@{/reptiles/eliminar-lista}">Borrar</a>
        </div>
    </div>

</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>