<!--
    Autora: Andrea Marcela Cáceres Avitia (Temas especiales de computación I 2025-II)
    Proyecto: CRUD Spring MVC. Animales del mundo      Fecha: 05/06/2025
    Archivo: agregar-reptil.html
    Descripción: Vista HTML que representa el formulario para registrar un nuevo reptil
    en la base de datos. Utiliza fragmentos Thymeleaf reutilizables.
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: head">
    <meta charset="UTF-8">
    <title>Agregar Reptil</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="creditos :: navbar-general"></nav>

<main class="flex-fill my-5">
    <div th:replace="fragments/reptil-form :: formulario-reptil(
        @{/reptiles/guardar},
        'Agregar nuevo Reptil',
        'Agregar Reptil',
        'btn-success'
    )"></div>
</main>

<footer th:replace="index :: footer"></footer>
<div th:replace="index :: jsincludes"></div>
</body>
</html>